<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Excel Download</title>
</head>
<body>

<div>
    <h1>Excel Download V1</h1>
    <form action="/api/excel/v1" method="get">
        <button type="submit">Excel</button>
    </form>

    <h1>Excel Download V2</h1>
    <form action="/api/excel/v2" method="get">
        <button type="submit">Excel</button>
    </form>

    <h1>Excel Download V3</h1>
    <form action="/api/excel/v3" method="get">
        <button type="submit">Excel</button>
    </form>

    <h1>Excel Download V4</h1>
    <form action="/api/excel/v4" method="get">
        <button type="submit">Excel</button>
    </form>

    <h1>Excel Download V5</h1>
    <form action="/api/excel/v5" method="get">
        <button type="submit">Excel</button>
    </form>
</div>

</body>
</html>